body::-webkit-scrollbar {
  display: none;
}

section{
  width:100vw;
  height:100vh;
}
*{
  box-sizing: border-box;
}
body{
  position:relative;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("./font/GmarketSansTTFBold.ttf");
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("./font/GmarketSansTTFMedium.ttf");
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("./font/GmarketSansTTFLight.ttf");
}